@charset "UTF-8";
/* VAR/NORM */
/* Colors */
/* Spacings */
/* Font family */
/* Font sizes */
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif; }

html {
  font-size: 62.5%; }

/* -------IMG-------- */
img {
  width: 100%; }

/* MISC */
/* --------FOOTER-------- */
.footer {
  line-height: 1.8em; }
  .footer__titulos {
    font-weight: bolder;
    line-height: 1.8em; }

/* MAIN TITULOS PAG */
.main__titulo {
  font-family: "Nunito", sans-serif;
  padding: 1em 4em 1em;
  font-size: 2.2em;
  color: #644454;
  font-weight: bolder; }

/* VIEWS */
/* --------BLOG-------- */
.section__introduccion {
  font-size: 1.6em;
  justify-content: center;
  text-align: justify; }

.section__articulo {
  margin-top: 2.4rem; }
  .section__articulo--titulo {
    font-size: 2.2em; }
  .section__articulo--resumen {
    font-size: 1.6em;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .section__articulo--leer {
    font-size: 1.4em;
    color: #ec4c73; }

/* ---------CONTACTO--------- */
.body__contacto {
  background: linear-gradient(to top, #ec4c746e, #ffffff); }

.contacto__medios {
  font-size: 2.2em; }

.contacto__redes {
  font-family: "Nunito", sans-serif;
  padding-top: 32px; }
  .contacto__redes--enlace {
    padding-top: 16px;
    font-size: 2.2em;
    text-decoration: none;
    color: #ec4c73; }

.contacto__formulario {
  font-size: 1.6em; }
  .contacto__formulario--titulo {
    font-weight: bolder;
    color: #644454;
    padding-bottom: 8px; }

.contacto__mensaje--btn {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1em;
  font-weight: bolder;
  background-color: #FFFFFF;
  border-radius: 20px;
  border-color: #644454; }

/*--------BANNER--------*/
.banner {
  position: relative;
  display: inline-block;
  text-align: left; }
  .banner__bienvenida {
    font-size: 5.2em;
    color: #ec4c73;
    position: absolute;
    left: 5%;
    top: 15%;
    font-family: "Nunito", sans-serif;
    animation-name: bienvenida;
    animation-iteration-count: infinite;
    animation-duration: 3s; }
  .banner__descripcion {
    position: absolute;
    left: 5%;
    top: 40%;
    width: 50%;
    color: #644454;
    font-family: "Nunito", sans-serif;
    font-size: 1.4em;
    text-align: justify; }
  .banner__btn {
    position: absolute;
    left: 20%;
    top: 73%;
    padding: 0.8rem 2rem 0.8rem 2rem;
    border-radius: 20px;
    border-color: #644454;
    color: #644454;
    background-color: #FFFFFF;
    font-family: "Nunito", sans-serif;
    font-weight: bolder;
    text-align: center;
    transition: background ease-in .3s;
    font-size: 1.6em; }
    .banner__btn:hover {
      background: #ec4c73; }
  .banner__img {
    z-index: -1;
    min-height: 100vh;
    max-height: 100%; }

@keyframes bienvenida {
  0% {
    color: #a10c32; }
  15% {
    color: #644454; }
  30% {
    color: #bd3355; }
  45% {
    color: #ee6c8d; }
  60% {
    color: #f58da7; }
  75% {
    color: #ee6c8d; }
  90% {
    color: #bd3355; }
  100% {
    color: #a10c32; } }

/* ----------ARTICULOS BLOG HOME---------- */
.textbasic, .section__blog, .contacto__medios, .contacto__formulario, .contacto__mensaje--btn, .destacados__titulo, .destacados__articulo--titulo, .destacados__articulo--subtitulo, .sistemas__titulo, .sistemas__articulo--titulo {
  font-family: "Nunito", sans-serif;
  color: #644454; }

.destacados {
  display: grid;
  grid-template-areas: "titulo titulo titulo titulo" "articulo1 articulo2 articulo3 articulo4";
  gap: 6rem;
  justify-content: center;
  padding: 2rem;
  margin: 2.4rem;
  width: fit-content; }
  .destacados__titulo {
    display: grid;
    grid-area: titulo;
    padding: 2rem;
    text-align: center;
    font-size: 3.1em;
    font-weight: bolder; }
  .destacados__articulo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1 1 clamp(300px, 30%, 400px); }
    .destacados__articulo--info {
      display: flex;
      flex-direction: column;
      padding: 2rem; }
    .destacados__articulo--titulo {
      text-align: center;
      font-size: 2.2em;
      font-weight: bolder; }
    .destacados__articulo--subtitulo {
      text-align: left;
      font-size: 14px;
      margin-top: 0.8rem; }
    .destacados__articulo--leer {
      font-family: "Nunito", sans-serif;
      text-align: center;
      color: #ec4c73;
      font-size: 1.4em;
      margin-top: 1rem;
      font-weight: bolder;
      text-decoration: none; }
      .destacados__articulo--leer:nth-last-of-type(1) {
        grid-area: articulo1; }
      .destacados__articulo--leer:nth-last-of-type(2) {
        grid-area: articulo2; }
      .destacados__articulo--leer:nth-last-of-type(3) {
        grid-area: articulo3; }
      .destacados__articulo--leer:nth-last-of-type(4) {
        grid-area: articulo4; }

/* --------NOSOTROS-------- */
.nosotros__texto, .terapia__texto {
  font-family: "Nunito", sans-serif;
  font-size: 1.6em;
  text-align: justify;
  padding: 5rem;
  height: fit-content;
  color: #644454; }

/* ----------TERAPIA FLORAL--------- */
.terapia__texto {
  margin: 0;
  padding: 15px 60px 15px 60px; }
  .terapia__texto:nth-last-of-type(1) {
    padding-bottom: 50px; }
  .terapia__texto:nth-last-of-type(4) {
    padding-top: 50px; }

.terapia__ubicacion {
  display: grid;
  grid-template-areas: "boton1 boton2"; }

.terapia__gotero--btn, .terapia__sesion--btn {
  grid-area: boton1;
  padding: 0.8rem 2rem 0.8rem 2rem;
  border-radius: 20px;
  border-color: #644454;
  color: #FFFFFF;
  background-color: #ec4c73;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  margin: auto;
  font-size: 1.6em; }

.terapia__sesion--btn {
  grid-area: boton2; }

.sistemas {
  display: grid;
  grid-template-areas: "titulo titulo titulo titulo" "articulo1 articulo2 articulo3 articulo4";
  gap: 6rem;
  justify-content: center;
  padding: 2rem;
  margin: 2.4rem;
  height: fit-content; }
  .sistemas__titulo {
    display: grid;
    grid-area: titulo;
    padding: 2rem;
    text-align: center;
    font-size: 2.2em;
    font-weight: bolder; }
  .sistemas__articulo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1 1 clamp(300px, 30%, 400px); }
    .sistemas__articulo--div {
      display: flex;
      flex-direction: column;
      padding: 2rem; }
    .sistemas__articulo--titulo {
      text-align: center;
      font-weight: bolder;
      font-size: 1.4em;
      text-decoration: none; }
    .sistemas__articulo:nth-last-of-type(1) {
      grid-area: articulo1; }
    .sistemas__articulo:nth-last-of-type(2) {
      grid-area: articulo2; }
    .sistemas__articulo:nth-last-of-type(3) {
      grid-area: articulo3; }
    .sistemas__articulo:nth-last-of-type(4) {
      grid-area: articulo4; }

/* UTILITIES */
/* -----------------------------------MQ---------------------------------- */
/* ---------------------------------Mobile-------------------------------- */
@media screen and (max-width: 480px) {
  /* HEADER */
  .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    vertical-align: center;
    font-size: 0.8em; }
    .header__logo {
      max-width: 150px;
      text-align: center; }
    .header__navbar--principal li {
      display: block;
      padding: 1rem;
      text-align: center; }
  /* BANNER */
  .banner {
    position: relative;
    display: inline-block;
    text-align: center; }
    .banner__bienvenida {
      font-size: 3.1em;
      color: #ec4c73;
      position: absolute;
      text-align: center;
      font-family: "Nunito", sans-serif;
      left: 20%;
      right: 20%;
      top: 10%;
      width: 60%; }
    .banner__descripcion {
      position: absolute;
      left: 10%;
      top: 25%;
      padding: 2rem;
      width: 80%;
      color: #644454;
      font-family: "Nunito", sans-serif;
      font-size: 1.4em;
      text-align: justify; }
    .banner__btn {
      position: absolute;
      padding: 0.8rem 2rem 0.8rem 2rem;
      border-radius: 20px;
      border-color: #644454;
      color: #644454;
      background-color: #FFFFFF;
      font-family: "Nunito", sans-serif;
      font-weight: bolder;
      text-align: center;
      font-size: 1.4em;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .banner__img {
      z-index: -1;
      height: 70rem; }
  /* ARTICULOS */
  .destacados {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .destacados__titulo {
      font-size: 2.4rem; }
  /* 
    /* SISTEMAS */
  .sistemas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .sistemas__articulo {
      padding-bottom: 3rem;
      margin-bottom: 3rem; }
      .sistemas__articulo--titulo {
        font-size: medium;
        padding-bottom: 3rem;
        margin-bottom: 1rem; }
  /* FOOTER */
  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center; }
    .footer__contactanos {
      width: 100%;
      padding: 4rem 5rem 1rem 5rem; }
    .footer__social {
      width: 100%;
      padding: 2rem 5rem 2rem 5rem; }
    .footer__newsletter {
      width: 100%;
      padding: 1rem 5rem 4rem 5rem; }
    .footer__newsletter--input {
      height: 2rem;
      width: 18rem; }
  /* TERAPIA FLORAL */
  .terapia__gotero--btn, .terapia__sesion--btn {
    font-size: 1em; }
  .terapia__sesion--btn {
    font-size: 1em; }
  /* MAIN TITULOS PAG */
  .main__titulo {
    padding-left: 2em; } }

/* BIENVENIDA - CAMBIO TAMAÑO TITULO MOBILE S */
@media screen and (max-width: 335px) {
  .banner__bienvenida {
    font-size: 2.2em; } }

/*---------------------------- -----Tablet------------------------------- */
@media screen and (min-width: 481px) and (max-width: 978px) {
  /* HEADER */
  .header {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em; }
  /* BANNER */
  .banner {
    position: relative;
    display: inline-block;
    text-align: center; }
    .banner__bienvenida {
      font-size: 2.2em;
      color: #ec4c73;
      position: absolute;
      text-align: left;
      font-family: "Nunito", sans-serif;
      left: 10%;
      right: 20%;
      top: 10%;
      width: 90%; }
    .banner__descripcion {
      position: absolute;
      text-align: justify;
      left: 5%;
      top: 20%;
      padding: 2rem;
      width: 60%;
      color: #644454;
      font-family: "Nunito", sans-serif;
      font-size: 1.4em; }
    .banner__btn {
      position: absolute;
      padding: 0.6rem 1.5rem 0.6rem 1.5rem;
      border-radius: 20px;
      border-color: #644454;
      color: #644454;
      background-color: #FFFFFF;
      font-family: "Nunito", sans-serif;
      font-size: 1.4em;
      font-weight: bolder;
      text-align: center;
      top: 84%;
      left: 20%;
      transform: translate(-50%, -50%); }
    .banner__img {
      z-index: -1; }
  /* ARTICULOS DESTACADOS */
  .destacados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .destacados > div {
    width: 50%; } }
