<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="terapia floral, blog esoterico, terapias alternativas, rituales, terapias holísticas, velomancia, astrologia, gemoterapia, tarot">
    <meta name="description" content="Magia Curiosa es un lugar de encuentro virtual para lxs amantes de las tematicas esotéricas, holísticas y las terapias alternativas. ¡Bienvenidx!">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/estilos.css">
    <title>Magia Curiosa - Nosotros</title>
</head>
<body>
<!------ HEADER ------->
    <header class="header">
        <nav class="navbar navbar-expand-md" style="background-color: #FFFFFF; color: #644454; font-family: 'Nunito', sans-serif; font-size: large; font-weight: bolder;">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img src="../assets/logoheader.png" alt="Logo Magia Curiosa" width="170" height="70" class="d-inline-block align-text-top">
                </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto p-2">
                  <li class="nav-item p-2">
                    <a class="nav-link" href="../index.html">INICIO</a>
                  </li>
                  <li class="nav-item p-2 ">          
                    <a class="nav-link" href="blog.html">BLOG</a>
                  </li>
                  <li class="nav-item p-2">
                    <a class="nav-link" href="terapiafloral.html">TERAPIA FLORAL</a>
                  </li>
                  <li class="nav-item p-2">
                    <a class="nav-link active" aria-current="page" style="color:#ec4c73" href="nosotros.html">NOSOTROS</a>
                  </li>
                  <li class="nav-item p-2">
                    <a class="nav-link" href="contacto.html">CONTACTO</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>       

  <!------ MAIN ------->
    <main class="main__nosotros">
        <div class="banner">
            <h1 class="main__titulo">NOSOTROS</h1>
       </div>

       <!------ DIV CAROUSEL ------->
       <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="sm-height:16px;">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="8000">
            <img src="../assets/imgcarousel1.jpg" class="d-block w-100" alt="..."> 
          </div>
          <div class="carousel-item" data-bs-interval="8000">
            <img src="../assets/imgcarousel2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="8000">
            <img src="../assets/imgcarousel3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
      <!------ NOSOTROS TEXTO ------->
      <div class="nosotros">
       <p class="nosotros__texto">Magia Curiosa es un lugar de encuentro para amantes de lo espiritual, lo holístico y lo esotérico. Vio la luz en agosto 2020, aunque nació como idea el año anterior y empezó a tomar forma como tienda virtual en los principios de la cuarentena. 
        Hace ya varios años que despertó mi interés por lo espiritual y en el camino estudié muchas cosas relacionadas a lo holístico-esotérico: tarot, diksha, reiki, magia ceremonial, gemoterapia, parapsicología, velomancia, registros akáshicos, entre otras. Me encontré a gusto con la astrología y la terapia floral, de la que actualmente brindo sesiones.
      </p>
      <p class="nosotros__texto">Me di cuenta que más allá del camino de desarrollo personal que transitara (y que muchas de estas cosas no iban conmigo por más que me interesaran), el crecimiento también es en red y en comunidad con otras personas. 
        Como en Paraná, la ciudad donde vivo, no encontraba ese espacio para compartir, sentí que podía crearlo. Un espacio que sea nexo y compañía para esa comunidad que resuene en sintonía y que sea sostén para quienes quieran brindar sus terapias y no encuentren donde. Actualmente es virtual pero próximamente contará con espacio físico. 
      </p>
      </div>
          
    </main>
    <!------ FOOTER ------->
    <footer class="footer">
        <div class="container-fluid text-center " style="background-color: #ec4c744f; color: #644454; font-family: 'Nunito', sans-serif; font-size: large; font-weight: bolder;">
          <div class="row align-items-start">
          <div class="col-sm-4 p-5">
            <h3 class= "footer__titulos">¡Contactanos!</h3>
            <h4>(0343) 154593989</h4>
            <h4>info@magiacuriosa.com</h4>
            <h4>Paraná, Entre Ríos, Argentina</h4>
          </div>
          <div class="col-sm-4 p-5">
            <h3 class= "footer__titulos">Buscanos en las redes</h3>
            <a href="#" style="text-decoration: none; color: #644454;"><h4>Instagram: @magiacuriosa</h4></a>
            <a href="#" style="text-decoration: none; color: #644454;"><h4>Facebook: magiacuriosatienda</h4></a>
          </div>
          <div class="col-sm-4 p-5 mb-4">
            <h3 class= "footer__titulos">Suscribite al newsletter</h3>
               <div class="input-group input-group-lg">
              <input type="email" class="form-control" placeholder="Ingresa tu correo electrónico" aria-label="Recipient's username" aria-describedby="basic-addon2" style="color: #644454; font-family: 'Nunito', sans-serif;">
              <div class="input-group-append input-group-lg">
                <button class="btn btn-outline-secondary" type="button" style="color: #644454; font-family: 'Nunito', sans-serif; background-color: #ec4c7431; ">Enviar</button>
              </div>
            </div>
          </div>
        </div>
        </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>