
    /* Colors */
    $color-primary: #FFFFFF;
    $color-secondary: #ec4c73;
    $text-color: #644454;
    
        /* Spacings */
    $spacing-large: 6rem;
    $spacing-medium: 2.4rem;
    $spacing-small: 2rem;
    $spacing-xsmall: 1rem;
    
        /* Font family */
    $font-principal: 'Nunito', sans-serif;
    
        /* Font sizes */
    $text-large: 5.2em;
    $text-xmedium:3.1em;
    $text-medium: 2.2em;
    $text-base: 1.6em;
    $text-small:1.4em;
    $text-xsmall:1em;
    $text-xxsmall:0.8em;