/* --------BLOG-------- */

.section__blog{
    @extend .textbasic;
}

.section__introduccion{
    font-size: $text-base;
    justify-content: center;
    text-align: justify;
}

.section__articulo{
    margin-top: $spacing-medium;
    &--titulo{
        font-size: $text-medium;
        font-weight: bolder;
    }
    &--resumen{
        font-size: $text-base;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    &--leer{
        font-size: $text-small;
        color: $color-secondary;
        &:hover {
            text-decoration: underline;
        }
        }
        
}

.section__siguientes{
    font-family:  $font-principal;
    font-size: $text-base;
    text-align: center;
    padding: 3rem 1rem 1rem 1rem;
    text-decoration: none;
    font-weight: bolder;
    &--num{
        padding-left: 1rem;
        &:hover {
            text-decoration: underline;
        }
    }
    &--sig{
        padding-left: 3rem;
        &:hover {
            text-decoration: underline;
        }
    }

}

a {
    text-decoration: none;
    color: $color-secondary;
    &:hover {
        color: $color-secondary;
        text-decoration: underline;
    }

}