/* --------NOSOTROS-------- */

.nosotros__texto{
    font-family: $font-principal;
    font-size: $text-base;
    text-align: justify;
    padding: 5rem;
    height: fit-content;
    color: $text-color;
}
